<a href="https://colab.research.google.com/github/ipaliotti/MLPNS_IPaliotti/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
    2*2

4

In [13]:
2*2

4

#First markdown cell
this is a text cell in markdown syntax

#Here we start coding

#Native variables and variables types

Una variabile è un pezzo di memoria che ha dei valori specifici. 
I tipi di varibaile corrispondono ai tipi di dati che abbiamo, dal punto di vista del computer è quanti bytes occupa.

##interi

In [41]:
intVar=3

type(intVar)

int

##float

In [4]:
floatVar=3.0

In [7]:
type(floatVar)

float

In [11]:

float2Var=float(intVar)
type(float2Var)

float

In [14]:
intVar*floatVar

9.0

In [16]:
intVar*floatVar == 9

True

In [18]:
intVar/2

1.5

In [20]:
intVar+floatVar

6.0

In [24]:
type(intVar + floatVar - intVar/2)

float

In [25]:
intVar + floatVar - intVar/2

4.5

##string

Un altro tipo di variabili sono le stringvariables in pyt.

In [26]:
print("Hello world")

Hello world

Pyton usa o " o ' senza differenza. I colori descrivono le parti di codice che sto usano, arancione sono le funzioni native. le stringhe tra le "" sono sempre in rosso. 
Se metto ''' il carattere new line viene interpretato nella stringa.

In [28]:
print('''Hello 
word''')

Hello
word

In [30]:
strVar='Hello world'

In [32]:
print(strVar)

Hello world

##boolean variables

Solo true e false 
Se lo scirvo con la maiuscola pyt ce lo ha già come variabile

In [34]:
True

True

In [36]:
False

False

In [42]:
intVar == floatVar

True

In [43]:
if intVar > floatVar:
  print("this is true")
else:
  print("condition was false")

condition was false

In [45]:
# == is equal?
print(intVar==floatVar)
# > greater
print(intVar>floatVar)
# < smaller
print(intVar < floatVar)
# != is not equal
print(intVar!=floatVar)

True
False
False

In [47]:
# | is logical OR
(intVar == floatVar) | (intVar>floatVar)
# & is logical AND
(intVar == floatVar) & (intVar>floatVar)

False

In [49]:
True == 1

True

In [50]:
False == 0

True

In [52]:
# ? is logical  AND
if (intVar == floatVar) * (intVar>floatVar):
  print("True")
else:
    print("False")

False

In [54]:
# ? is logical  OR
if (intVar == floatVar) + (intVar>floatVar):
  print("True")
else:
    print("False")

True

In [56]:
#loop: for, while
#range è una funzione, finisce un numero prima e inizia da zero se non specificatp
#il primo valore. Pyt in generale esclude l'ultimo valore. Posso dargli dei salti, ad esempio 2

for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

#Variable as object
Le variabili hanno anche funzioni, metodi e proprietà associate al tipo di variabile. Si chiamano mettendo il punto dopo il nome della variabile.

In [59]:
strVar='hello world'

In [61]:
strVar.capitalize()

'Hello world'

In [63]:
strVar.upper()

'HELLO WORLD'

In [65]:
strVar.isdigit()

False

In [67]:
"3".isdigit()

True

In [68]:
floatVar.is_integer()

True

#List

In [74]:
listVar = [intVar, floatVar, strVar, 0, True]
listVar

[3, 3.0, 'hello world', 0, True]

In [76]:
#posso aggiungere robe 
listVar.append(11)
listVar

[3, 3.0, 'hello world', 0, True, 11, 11]

In [77]:
listVar[0]
#il primo elemento è in posizione zero

3

In [81]:
strVar[1]

'e'

In [83]:
'h' in strVar

True

In [85]:
64 in listVar

False

In [88]:
#posso cambiare un elemento della lista ma non della stringa

listVar[2] = 4
listVar

[3, 3.0, 4, 0, True, 11, 11]

#ESERCIZIO 1 "Wordle"

In [112]:
target = 'acres'
guess = 'Acres'
risultato = [0,0,0,0,0]
for i in range(0,5):
    if target[i] in guess:
      for j in range(0,5):
        if (target[i] == guess[j]) & (i==j):
          risultato[j] = target[i] 
        if (target[i] == guess[j]) & (i!=j):
          risultato[j] = '*' 
print(risultato)

      #se ho piu di un alternativa a if posso usare elif

[0, 'c', 'r', 'e', 's']

#Fuctions

In [114]:
def wordle(guess):
  '''
  A function that checks a word guess against a target
  Input:
  guess: a string
  Return:
  a string
  '''

##IMPORTING PACKAGES
typical packages that we will see
### pandas 
  manipulation of tabular data
### numpy 
  manipulation of numerical data
### scipy
  statmodels 
### matplotlib
  visualization and plotting
### sklearn 
  machine learning
### tensorflow
  neural networks

In [116]:
import pandas as pd

pd.read_csv

from pandas import read_csv

read_csv

##from pandas import * #NEVER!!!

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePathOrBuffer', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=False, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)>

In [119]:
url='https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv'

pd.read_csv(url)

df=pd.read_csv(url)
df.shape

(924, 41)

In [120]:
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [123]:
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [126]:
df.iloc[0]

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [131]:
df.iloc[:, 1]#estrai tutte le colonne

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [132]:
url='https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat'

In [139]:
colnames=["title","genre"]
movies=pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames);

In [142]:
movies.shape

(3883, 2)

In [144]:
movies.columns

Index(['title', 'genre'], dtype='object')

In [145]:
movies['title']

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [147]:
movies.title

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [149]:
movies['title']

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [153]:
" Toy Story (1995)".split()[-1].replace("(","").strip(")")  #posso contare al contrario basta mettere il meno

'1995'

In [158]:
def get_year(mtitle):
  """
  """

  return int(mtitle.split("(")[-1].strip(")"))

In [159]:

movies["title"].map(get_year)

1       1995
2       1995
3       1995
4       1995
5       1995
        ...
3948    2000
3949    2000
3950    2000
3951    2000
3952    2000
Name: title, Length: 3883, dtype: int64

In [161]:
movies.gruopby("year").count()

AttributeError: ignored